
.button:pressed:hover {
	-fx-scale-y: 0.9;
	-fx-scale-x: 0.9;
}

.button{
    -fx-background-color: white; 
}

.button:hover {
	-fx-scale-y: 1.1;
	-fx-scale-x: 1.1;
        -fx-background-color:#DDEAFF;
      
         
}